<mat-toolbar color="primary">
    <span>Awesome Components</span>
    <nav>
        <ul>
            <li><a routerLink="/social-media">Social Media</a></li>
            <li><a routerLink="/complex-form">Complex Form</a></li>
            <li><a routerLink="/reactive-state">Reactive State</a></li>
        </ul>
    </nav>
</mat-toolbar>
