@use "sass:map";
@use "@angular/material" as mat;
@use "./color-sets/default-color-set" as defaultCS;
@use "./color-sets/red-color-set" as redCS;
@use "./color-sets/green-color-set" as greenCS;

@function dark($p, $a, $w) {
    @return mat.define-dark-theme(
        (
            color: (
                primary: $p,
                accent: $a,
                warn: $w,
            ),
        )
    );
}

.dark-theme {
    @include mat.all-component-colors(dark(defaultCS.$primary, defaultCS.$accent, defaultCS.$warn));

    &.red {
        @include mat.all-component-colors(dark(redCS.$primary, redCS.$accent-dark, redCS.$warn));
    }

    &.green {
        @include mat.all-component-colors(dark(greenCS.$primary, greenCS.$accent, greenCS.$warn));
    }
}
