@use "sass:map";
@use "@angular/material" as mat;
@use "./palettes/default-palette" as defaultPal;
@use "./red-palette" as redPal;
@use "./green-palette" as greenPal;

$primary: defaultPal.$primary;
$accent: defaultPal.$accent;
$warn: defaultPal.$warn;

@function light($p, $a, $w) {
    @return mat.define-light-theme(
        (
            color: (
                primary: $p,
                accent: $a,
                warn: $w,
            ),
        )
    );
}

$theme: light($primary, $accent, $warn);

.red {
    @include mat.all-component-colors(light(redPal.$primary, redPal.$accent, redPal.$warn));
}

.green {
    @include mat.all-component-colors(light(greenPal.$primary, greenPal.$accent, greenPal.$warn));
}
