@use "sass:map";
@use "@angular/material" as mat;
@use "./color-sets/default-color-set" as defaultCS;
@use "./color-sets/red-color-set" as redCS;
@use "./color-sets/green-color-set" as greenCS;

@function light($p, $a, $w) {
    @return mat.define-light-theme(
        (
            color: (
                primary: $p,
                accent: $a,
                warn: $w,
            ),
        )
    );
}

$theme: light(defaultCS.$primary, defaultCS.$accent, defaultCS.$warn);

.red {
    @include mat.all-component-colors(light(redCS.$primary, redCS.$accent, redCS.$warn));
}

.green {
    @include mat.all-component-colors(light(greenCS.$primary, greenCS.$accent, greenCS.$warn));
}
