html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/images/blurred-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }
}
