@use "sass:map";
@use "@angular/material" as mat;
@use "./themes/light-theme";
@use "./themes/dark-theme";
@use "./themes/red-palette";
@use "./themes/green-palette";
@include mat.core();

@include mat.all-component-themes(light-theme.$theme);

.btnPalette {
    border: none;
    border: solid 1px white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    &:hover {
        box-shadow: 0 0 5px 2px white;
    }
}

.btnDefault {
    background-color: map.get(light-theme.$primary, default);
    color: map.get(light-theme.$primary, default-contrast);
}

.btnRed {
    background-color: map.get(red-palette.$primary, default);
    color: map.get(red-palette.$primary, default-contrast);
}

.btnGreen {
    background-color: map.get(green-palette.$primary, default);
    color: map.get(green-palette.$primary, default-contrast);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }
}