@use "sass:map";
@use "@angular/material" as mat;
@use "./themes/light-theme" as light;
@use "./themes/dark-theme";
@use "./themes/color-sets/default-color-set" as defaultCS;
@use "./themes/color-sets/red-color-set" as redCS;
@use "./themes/color-sets/green-color-set" as greenCS;

@include mat.core();

@include mat.all-component-themes(light.$theme);

.btnPalette {
    border: none;
    border: solid 1px white;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    &:hover {
        box-shadow: 0 0 5px 2px white;
    }
}

.btnDefault {
    background-color: map.get(defaultCS.$primary, default);
    color: map.get(defaultCS.$primary, default-contrast);
}

.btnRed {
    background-color: map.get(redCS.$primary, default);
    color: map.get(redCS.$primary, default-contrast);
}

.btnGreen {
    background-color: map.get(greenCS.$primary, default);
    color: map.get(greenCS.$primary, default-contrast);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }
}